@{
    var rabbits = (List<FarmManager.Models.MRabbits>)ViewBag.rabbits;
}
<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:50px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
</style>

<table id="dt" class="table tblsm">
    <thead>
        <tr>
            <th>NameID</th>
            <th>D.O.B</th>
            <th>SireID</th>
            <th>DameID</th>
            <th>Weeks</th>
            <th>Months</th>
            <th>Years</th>
            <th>Litter Number</th>
            <th>Notes</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in rabbits)
        {
            <tr>
                <td title="@item.NameId">@item.NameId</td>
                <td title="@item.DateOfBirth.ToString("d-MMM-yyyy")">@item.DateOfBirth.ToString("d-MMM-yyyy")</td>
                <td title="@item.SireId">@item.SireId</td>
                <td title="@item.DameId">@item.DameId</td>

                <td title="@((DateTime.Now-item.DateOfBirth).Days/7)">@((DateTime.Now - item.DateOfBirth).Days / 7)</td>
                <td title="@((DateTime.Now-item.DateOfBirth).Days/30)">@((DateTime.Now - item.DateOfBirth).Days / 30)</td>
                <td title="@((DateTime.Now-item.DateOfBirth).Days/365)">@((DateTime.Now - item.DateOfBirth).Days / 365)</td>


                <td title="@item.LitterNumber">@item.LitterNumber</td>
                <td title="@item.Notes">@item.Notes</td>
                <td>
                    <a href="~/Rabbits/EditRabbit/@item.Id" style="color:blue;">
                        Edit
                    </a>
                    |
                    <a href="javascript:void(0);" style="color:red;" onclick="confirm_delete('@item.Id')">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>

    $('#dt').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });


    function confirm_delete(id) {
        $.confirm({
            title: 'Information',
            type: "red",
            content: 'Delete this Rabbit?',
            buttons: {
                Yes: function () {
                    window.location = "../Rabbits/DeleteRabbit/" + id;
                },
                No: function () {
                },

            }
        });

    }

</script>